
.navbar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-nav li {
  margin-right: 20px;
}

.navbar-nav a {
  text-decoration: none;
  position: relative;
}

.navbar-nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(252, 0, 0);
  transition: width 0.3s ease;
}

.navbar-nav a:hover::after {
  width: 100%;
}
.container1{
  background-color: #A08F70;
  font-family: 'Times New Roman', Times, serif;
}
/* Align the cards properly in two columns */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 80%;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #333;
}

.ratings i {
  color: #FFD700;
}

